<html>
    <head>
        <title>Hasil OAuth Callback</title>
    </head>

    <body>
        <h1>Hasil Oauth Callback</h1>
        <ul>
            <li>Access Token <span th:text="${access_token}"></span></li>
            <li>Refresh Token <span th:text="${refresh_token}"></span></li>
        </ul>
    </body>
</html>